@use 'colors';
@use 'functions';
@use 'fonts';
@use 'screens';
@use 'spaces';

* {
  margin: 0;
  box-sizing: border-box;
}

#app {
  background-color: colors.$very-dark-blue;
  padding: spaces.$space-80px spaces.$space-24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: spaces.$space-24px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: colors.$attribution;
}

// ProfileCard start

$profile-card-min-height: functions.to-rem(190px);
$profile-card-min-height-tablet-and-up: functions.to-rem(500px);
$profile-card-min-width: functions.to-rem(300px);
$profile-card-min-width-tablet-and-up: functions.to-rem(250px);
$profile-card-top-max-height: functions.to-rem(300px);
$profile-card-icon-size: functions.to-rem(64px);

.profileCard {
  border-radius: spaces.$radius-15px;
  background-color: colors.$dark-blue;
  padding: spaces.$space-24px;
  min-height: $profile-card-min-height;
  min-width: $profile-card-min-width;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;

  @include screens.tablet-and-up {
    padding: spaces.$space-32px;
    min-height: $profile-card-min-height-tablet-and-up;
    min-width: $profile-card-min-width-tablet-and-up;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    row-gap: spaces.$space-32px;
  }
}

.profileCardTime {
  color: colors.$desaturated-blue;
  cursor: pointer;

  @include fonts.text-preset-3;

  &:hover {
    color: colors.$white;
  }
}

.profileCardTop {
  border-radius: spaces.$radius-15px;
  background-color: colors.$blue;
  padding: spaces.$space-28px;
  max-height: $profile-card-top-max-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: spaces.$space-16px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  @include screens.tablet-and-up {
    flex-direction: column;
    align-items: flex-start;
    row-gap: spaces.$space-24px;
  }
}

.profileCardTopIcon {
  border-radius: 100%;
  border: 3px solid colors.$white;
  height: $profile-card-icon-size;
  width: $profile-card-icon-size;
}

.profileCardTopInfo {
  display: flex;
  flex-direction: column;
  row-gap: spaces.$space-4px;
}

.profileCardTopInfoLabel {
  color: colors.$pale-blue;

  @include fonts.text-preset-4;
}

.profileCardTopInfoName {
  text-wrap: nowrap;
  color: colors.$white;

  @include fonts.text-preset-2;

  @include screens.tablet-and-up {
    text-wrap: wrap;
  }
}

// ProfileCard end