<div class="infoCard topicColor">
    <div class="infoCardIconWrapper">
        <img class="infoCardIcon topicIcon" src="./src/assets/images/icon-study.svg" alt="topic icon" aria-hidden="true"/>
    </div>
    <div class="infoCardFront">
        <div class="infoCardFrontHeader">
            <label class="infoCardFrontHeaderTitle topicName">Topic</label>
            <img class="infoCardFrontHeaderIcon" src="./src/assets/images/icon-ellipsis.svg" alt="ellipses icon"
                 aria-hidden="false"/>
        </div>
        <div class="infoCardFrontValues">
            <label class="infoCardFrontValuesCurrent"><span class="topicCurrent">0</span>hrs</label>
            <label class="infoCardFrontValuesLast">Last Week -&nbsp;<span class="topicPrevious">0</span>hrs</label>
        </div>
    </div>
</div>