<div class="infoCard">
    <div class="infoCardIconWrapper">
        <img class="infoCardIcon" src="./src/assets/images/icon-study.svg" alt="topic icon" aria-hidden="true"/>
    </div>
    <div class="infoCardFront">
        <div class="infoCardFrontHeader">
            <label class="infoCardFrontHeaderTitle">Title</label>
            <img class="infoCardFrontHeaderIcon" src="./src/assets/images/icon-ellipsis.svg" alt="ellipses icon"
                 aria-hidden="false"/>
        </div>
        <div class="infoCardFrontValues">
            <label class="infoCardFrontValuesCurrent">0hrs</label>
            <label class="infoCardFrontValuesLast">Last Week - 0hrs</label>
        </div>
    </div>
</div>