<div class="profileCard">
    <label class="profileCardTime timeDaily">Daily</label>
    <label class="profileCardTime timeWeekly">Weekly</label>
    <label class="profileCardTime timeMonthly">Monthly</label>
    <div class="profileCardTop">
        <img class="profileCardTopIcon profileIcon" src="./src/assets/images/image-jeremy.png" alt="avatar image" aria-hidden="true"/>
        <div class="profileCardTopInfo">
            <label class="profileCardTopInfoLabel">Report for</label>
            <label class="profileCardTopInfoName profileName">Jeremy Robson</label>
        </div>
    </div>
</div>