<div class="profileCard">
    <div class="profileCardTop">
        <img class="profileCardTopIcon profileIcon" src="./src/assets/images/image-jeremy.png" alt="avatar image" aria-hidden="true"/>
        <div class="profileCardTopInfo">
            <label class="profileCardTopInfoLabel">Report for</label>
            <label class="profileCardTopInfoName profileName">Jeremy Robson</label>
        </div>
    </div>
    <div class="profileCardBottom">
        <label class="profileCardBottomTime timeDaily">Daily</label>
        <label class="profileCardBottomTime timeWeekly">Weekly</label>
        <label class="profileCardBottomTime timeMonthly">Monthly</label>
    </div>
</div>